* {
    margin: 0;
    box-sizing: border-box;
    color: #474744;
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    height: 100%;
    max-width: 100%;
    text-align: center;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin: 15px 0;
}

h3 {
    text-transform: uppercase;
    margin: 15px 0;
}

p {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
}

input {
    clear: both;
}

.flexboxc {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.flexboxr {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.flexboxf {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px;
}

.gauche {
    text-align: left;
    margin: 10px 0;
}

.droite {
    text-align: right;
    margin: 10px 0;
}

#logo {
    margin-bottom: 40px;
}

#fleche {
    margin-top: 15px;
    position: relative;
    -webkit-animation-name: hautbas;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: hautbas;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@-webkit-keyframes hautbas {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes hautbas {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0px;
    }
}

#humain {
    font-size: 20px;
    margin-left: 10px;
}

#rompre {
    margin-bottom: 30px;
}

#generateur {
    height: 100%;
    margin: auto 50px;
    text-align: center;
}

#phrase {
    margin-top: 40px;
    height: 100px;
}

#bouton {
    background-color: white;
    border: 1px solid #2994B2;
    border-radius: 5px;
    padding: 8px;
    transition: 0.3s;
    margin: 20px 0;
    text-transform: uppercase;
}

#bouton a {
    color: white;
    text-decoration: none;
}

#bouton:hover {
    background-color: #2994B2;
    color: #FFFBE0;
}

#logiciel {
    padding: 30px 0;
}

.fa-2x {
    color: #FF6600;
}

.fa-3x {
    margin: 0 5px;
    color: #FF6600;
}

.colored {
    margin: 0 5px;
    color: black;
}

footer {
    background-color: #2994B2;
    bottom: 0;
    text-align: center;
    color: #FFFBE0;
    padding: 20px 0;
}

footer a {
    color: #FFFBE0;
    text-decoration: none;
}

@-webkit-keyframes couleur {
    0% {
        color: #474744;
    }
    25% {
        color: rgb(46, 179, 187)
    }
    50% {
        color: rgb(48, 66, 144);
    }
    75% {
        color: rgb(46, 179, 187)
    }
    100% {
        color: #474744;
    }
}


}
@keyframes couleur {
    0% {
        color: #474744;
    }

    25% {
        color: rgb(46, 179, 187)
    }

    50% {
        color: rgb(48, 66, 144);
    }

    75% {
        color: rgb(46, 179, 187)
    }

    100% {
        color: #474744;
    }
}
#site {
    position: relative;
    -webkit-animation-name: couleur;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: couleur;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#twitter {
    color: #3084bb;
}
#linkedin {
  color: #006fa6;
}
#gitlab {
  color: #fc6d26;
}
#landscape {
    display: none;
}

/*----------MEDIA QUERIES----------*/
@media (max-width:) {}
@media (max-width:768px) {
    p {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }

    .gauche {
        margin: 15px 0;
    }

    .droite {
        margin: 15px 0;
    }

    #description {
        margin: 0 50px;
    }

    #fin {
        margin: 0 50px;
    }

    #fin #fleche {
        margin-top: 0px;
    }
}
@media (max-height: 600px) and (orientation:landscape) {
    #description, #generateur, #fin, footer {
        display: none;
    }

    #landscape {
        height: 100%;
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:992px and min-width:768px) {}
@media (max-width:1200px and min-width:992px) {}
