* {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  text-align: center;
  margin-top: 100px;
}

a:link {
   color: rgb(187, 187, 187);
}

a:visited {
   color: rgb(187, 187, 187);
}

a:hover {
   color: rgb(78, 88, 221);
}

a:active {
   color: rgb(187, 187, 187);
}

                              /*CENTRE*/

#centre h1 {
  margin: 20px;
  font-size: 2rem;
}

#centre p {
  margin: 20px;
  font-size: 1.5rem;
}

#centre #phrase {
  font-size: 3rem;
}

#centre #button {
  font-weight: 300;
}

#homme {
  margin: 0 10px;
}

#femme {
  margin: 0 10px;
}

                            /*FOOTER*/

footer {
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  width: 100%;
}

                                        /*MEDIA QUERIES*/

@media (max-width:768px) {
  body {
    font-size: 3rem;
  }

  footer {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 3rem;
  }

  #centre h1 {
    font-size: 3rem;
  }

  #centre p {
    margin: 10px 30px;
  }

  button {
    width: 15rem;
    height: 6rem;
    font-size: 3rem;
    margin: 10px 0;
  }

  footer {
    font-size: 1.5rem;
  }
}
